.cart-product-image {
    max-height: 6.25rem;
    max-width: 5.625rem;
}

.cart-product-count {
    i {
        font-size: 1.125rem;
    }

    span {
        margin-left: 0.313rem;
        margin-right: 0.313rem;
    }
}