.checkout-page-container {
    width: 60%;

    @media (min-width: 1200px) {
        width: 50%;
    }

    @media (max-width: 991px) {
        width: 90%;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}